.Dgrade{
    background-color: orange;
}
.Cgrade{
    background-color: lightblue;
}
.Bgrade{
    background-color: lawngreen;
}
.Agrade{
    background-color:  lightgreen;;
}
.Failgrade{
    background-color:  red;;
}
